node_modules
.turbo
.next
dist
build
coverage
tsconfig.tsbuildinfo
playwright-report
test-results
.env
.env.*
!.env.example

# Flutter
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
apps/mobile/android/local.properties
apps/mobile/ios/Flutter/Generated.xcconfig
apps/mobile/ios/Flutter/flutter_export_environment.sh
apps/mobile/ios/Flutter/ephemeral
apps/mobile/ios/Runner/GeneratedPluginRegistrant.*
apps/mobile/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
apps/mobile/android/key.properties
apps/mobile/android/keystores
apps/mobile/google-play-service-account.json
apps/mobile/android/app/google-services.json
apps/mobile/ios/Runner/GoogleService-Info.plist
apps/mobile/*.p12
apps/mobile/*.mobileprovision

# OS/editor
.DS_Store
.idea
.vscode
